html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #1c1f21 !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My css styles */

/* theme styles */
:root {
  --main_bg: #d9d9d9;
  --bg_light: #f2d5ff; /* #F5F5F5 */ /* ECF0F1 */
  --bg_dark: #2c3e50; /* #1C2331 */ /* #162447 */
  --color_light: #ecf0f1;
  --color_dark: #162447;
  --link_bg: #5d9cec;
}

/* Start Color css  */
.main_bg {
  background-color: var(--main_bg);
}
.bg_light {
  background-color: var(--bg_light);
}
.bg_dark {
  background-color: var(--bg_dark);
}
.bg_light_blue {
  background-color: var(--link_bg);
}
.bg_white {
  background-color: white;
}
.color_light {
  color: var(--color_light);
}
.color_dark {
  color: var(--color_dark);
}
.my_link {
  text-decoration: none;
}
.inline_link_bg {
  background-color: var(--link_bg);
  display: inline-block;
  width: 100%;
}

/* End Color css  */

.min_full {
  min-height: 100vh;
}
.min_full90 {
  min-height: 90vh;
}
.center_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center_col > div {
  flex: 1;
}
.center_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center_row > div {
  flex: 1;
}

/* add sale and stock design */

.item_name {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 50%;
  float: left;
}
.item_name input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_tel {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 50%;
}
.item_tel input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_address {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.item_address input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_m_name {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.item_m_name input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_qun {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.item_qun input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_s_price {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  float: left;
  width: 50%;
}
.item_s_price input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_discount {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  float: left;
  width: 50%;
}
.item_discount input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_cash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  width: 30%;
  float: left;
}
.item_cash input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_due {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  width: 30%;
  float: left;
}
.item_due input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_cash_due {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  width: 30%;
}
.item_cash_due input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.item_cash_amount,
.item_due_amount{
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  
}
.item_cash_cash_amount {
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 10px;
}
.item_due_due_amount {
  float: left;
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  width: 50%;
}
.item_pay {
  display: flex;
  gap: 20px;
  width: 100%;
}
.item_pay input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg_light);
}

.form_control {
  margin: 0px;
}
